<section id="newsletter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="newsletter wow fadeInDown">
                    <h1 style="font-weight: bolder; margin-bottom: 15px;">Đăng ký nhận tin tức <span
                            style="padding: 4px; border-radius: 4px; background-color: white; color: #d083cf;">mới
                            nhất</span></h1>
                    <p style="margin-bottom: 15px;">Nhập email của bạn để nhận thông báo về các bài viết mới nhất!</p>
                    <form style="margin: 0 30%;" class="d-flex contact_form" role="subscribe">
                        <input class="form-control me-2" type="subscribe" placeholder="Nhập địa chỉ email của bạn.."
                            aria-label="Subscribe">
                        <input style="margin: 0 5px; width: 80px; height: 34px;" type="submit" value="Đăng ký">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="footer_top">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="footer_widget wow fadeInDown">
                    <h2>Tag</h2>
                    <ul class="tag_nav">
                        <% layout.tags.slice(0,5).forEach((item)=> { %>
                            <li><a href="/tag/<%= item.tag_id %>">
                                    <%= item.tag_name %>
                                </a></li>
                            <% }) %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="footer_widget wow fadeInRightBig">
                    <h2>Liên hệ</h2>
                    <p>Chung Huệ Như</p>
                    <p>Lê Thị Mộng Kiều</p>
                    <p>Nguyễn Thảo Nguyên</p>
                    <p>Phạm Quang Khải</p>
                    <p>Trần Hữu Minh Hiệp</p>
                    <address>
                        CKC, lầu 7 tòa F lớp CDTH23WebC
                    </address>
                    <ul class="social_nav">
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="flickr"><a href="#"></a></li>
                        <li class="pinterest"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="vimeo"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                        <li class="mail"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <p class="copyright">Copyright &copy; 2025 <a href="/">Đồ Án NodeJS</a></p>
        <p class="developer">Nhóm Con Mèo Hehe</p>
    </div>
</footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.li-scroller.1.0.js"></script>
<script src="/js/jquery.newsTicker.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/custom.js"></script>
<script>
    $("document").ready(function () {
        $("#contactModal").modal("show");
    });
    //Xử lý dữ liệu form
    $(document).ready(function () {
        $('#contactForm').on('submit', function (e) {
            let isValid = true;
            let name = $('#name').val().trim();
            let phone = $('#phone').val().trim();

            // Kiểm tra tên: chỉ cho phép chữ cái và khoảng trắng
            const nameRegex = /^[a-zA-ZÀ-ỹ\s]+$/;
            if (!nameRegex.test(name)) {
                alert("Họ tên chỉ được chứa chữ cái và khoảng trắng.");
                isValid = false;
            }

            // Kiểm tra số điện thoại: phải là số và đủ 10 chữ số
            const phoneRegex = /^\d{10}$/;
            if (!phoneRegex.test(phone)) {
                alert("Số điện thoại phải đúng 10 chữ số.");
                isValid = false;
            }

            if (!isValid) {
                e.preventDefault(); // Ngăn form gửi đi nếu không hợp lệ
            }
        });
    });
</script>

<script>
    function redirectToCategory(select) {
        const selectedValue = select.value;
        if (selectedValue) {
            window.location.href = selectedValue; // Chuyển hướng đến URL của option
        }
    }
</script>

</body>

</html>